.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 9rem;
  }
  
  .welcome-image {
    width: 100%;
    height: 400px;
  }
  
  .container span{
    margin-bottom: 1rem;
  }