.my-tasks {
    padding: 20px;
}

.task-columns {
    
    display: flex;
    justify-content: space-between;
}

.task-column {
    background: linear-gradient(to bottom, #A77DCD, #F3B9C5);
    overflow: auto;
    flex: 1;
    margin-top: 20px;
    margin-right: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    max-height: 900px;
    min-width: 220px;
}

.task-column:last-child {
    margin-right: 0;
}

.task-column h3 {
    margin-bottom: 10px;
}

.task-column ul {
    list-style-type: none;
    padding: 0;
}

.task-column li {
    margin-bottom: 10px;
}

.task-column strong {
    font-weight: bold;
}

.task-column p {
    margin: 5px 0;
}
